/* line 1, /home/shahriar/try/cmpt276-b-master/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  margin: 33px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 10, /home/shahriar/try/cmpt276-b-master/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 16, /home/shahriar/try/cmpt276-b-master/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 22, /home/shahriar/try/cmpt276-b-master/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 25, /home/shahriar/try/cmpt276-b-master/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 29, /home/shahriar/try/cmpt276-b-master/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 35, /home/shahriar/try/cmpt276-b-master/app/assets/stylesheets/scaffolds.scss */
th {
  padding-bottom: 5px;
}

/* line 39, /home/shahriar/try/cmpt276-b-master/app/assets/stylesheets/scaffolds.scss */
td {
  padding: 0 5px 7px;
}

/* line 44, /home/shahriar/try/cmpt276-b-master/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 49, /home/shahriar/try/cmpt276-b-master/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 53, /home/shahriar/try/cmpt276-b-master/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 59, /home/shahriar/try/cmpt276-b-master/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 66, /home/shahriar/try/cmpt276-b-master/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff;
}
/* line 76, /home/shahriar/try/cmpt276-b-master/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* line 82, /home/shahriar/try/cmpt276-b-master/app/assets/stylesheets/scaffolds.scss */
label {
  display: block;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */


 #submit {
 	background-color: #4CAF50;
 	border: none;
 	color: white;
 	padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
 }

/* #logo {
 	height: auto;
 	width: auto;
 	max-width: 50px;
 	max-height: 50px;
 }*/

input {
	width: 50%;
	height: auto;
	margin: 8px auto;
	border: 1px solid black;
	border-radius: 4px;
	display: block;

}

.header img{
	float: left;
	height: auto;
 	width: auto;
 	max-width: 50px;
 	max-height: 50px;
}

.header h1 {
	width: 20px;

}

.center {
	margin: auto;
	border: 2px solid green;
	border-radius: 8px;
	padding: 10px;
	width: 50%
}

form {
	text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4CAF50;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}
